body{
    /* CSS global variables */
    --primary-accent-color:deepskyblue;
    --font-accent-color:white;
    --font-base-color:rgb(0,0,0,0.8);

    margin:0;
    padding:0;
    font-size: 16px;
    color:var(--font-base-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* global grid layout */
main{
    display:grid;
    grid-template:1fr 5fr/1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}
/* sidebar layout (static grid)*/
.sidebar{
    grid-area: sidebar;
    background-color:var(--primary-accent-color);
    color:var(--font-accent-color);
    font-weight:600;
    display:grid;
    grid-template-rows: 30px 180px 90px; /* static grid*/
    align-content: start;
    gap:30px;
    padding:20px 40px 20px 20px;
}

.sidebar-title{
    font-size:1.3em;
}

.sidebar-menu{
    display:grid;
    grid-template: repeat(auto-fit,30px)/20px 1fr;/* static grid*/
    align-items: center;
    justify-items: center;
    gap:0 15px;
    
}
.sidebar-menu p{
    justify-self: start;
}
.sidebar-menu img{
    height:1em;
}
.sidebar-title img{
    height:1.8em;
    width:auto;
}

/* header layout */
.header{
    grid-area:header;
}
.user-pic{
    height:50px;
    width:50px;
    border-radius: 50%;
}

/* main content layout */
.main-content{
    grid-area:main-content;
    background-color: gainsboro;
}
